<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registro Aceptado</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0; padding: 0; background-color: #f4f4f4;">
  <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="background-color: #f4f4f4;">
    <tr>
      <td align="center">
        <!-- Contenedor principal -->
        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; background-color: #ffffff; margin: 20px auto; padding: 20px; border-radius: 8px; font-family: Arial, sans-serif;">
          <tr>
            <td align="center" style="padding: 20px;">
              <img src="cid:encabezado" alt="Encabezado FEMEPASHIDI" width="100%" style="display: block; margin-bottom: 20px;" />
              <h1 style="margin: 0; color: #2a2a2a;">隆Felicidades {{name}}! </h1>
            </td>
          </tr>
          <tr>
            <td style="padding: 20px; text-align: center;">
              <p style="color:#333; text-align: justify;">Le informamos que su solicitud adjunta para competir Internacionalmente en el torneo <span style="font-weight: bold"> {{nombreCompetencia}} </span> en el nivel : <span style="font-weight: bold"> {{nivelCompeticion}}</span> ha sido <span style="font-weight: bold">APROBADA</span></p>
              <p style="color:#333; text-align: justify;">Adjunto a este correo encontrar谩 la Carta Permiso solicitada</p>
              <p style="color:#333; text-align: justify;">Le recordamos que deber谩 compartir sus resultados de la competencia v铆a correo electr贸nico a:<a href="mailto:resultados@femepashidi.com.mx">resultados@femepashidi.com.mx</a>. </p>

              <p style="
              color:#333; ">Saludos,</p>
              <a href="https://www.femepashidi.com.mx/" style="display: inline-block; margin-top: 20px; padding: 12px 24px; background-color: #004080; color: #fff; text-decoration: none; border-radius: 6px; font-size: 16px;">
                Ir a la plataforma
              </a>
            </td>
          </tr>
          <tr>
            <td style="padding: 20px; text-align: center;">
              <p style="font-size: 14px; color: #555;">Por favor, no responda a este correo electr贸nico, ya que no podemos responder a los mensajes enviados a esta direcci贸n.</p>
              <p style="font-size: 14px; color: #555;">Para cualquier consulta, p贸ngase en contacto con su asociaci贸n o con su entrenador.</p>
              <p style="font-size: 12px; color: #555;">Federaci贸n Mexicana de Patinaje Sobre Hielo y Deportes de Invierno, A.C.</p>
              <p style="font-size: 12px; color: #555;"><a href="https://www.femepashidi.com.mx/">https://www.femepashidi.com.mx/</a></p>
            </td>
          </tr>
          <tr>
            <td align="center" style="padding: 20px; font-size: 12px; color: #888;">
              漏 2025 FEMEPASHIDI. Todos los derechos reservados.
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
